body { font-family: 'Muli', sans-serif; }
.user-avator { position: absolute; top: 0px; left: -50px; }
.sandy-navbar .navbar-nav > li > a { padding-right: 0px; padding-left: 0px; display: block; }
.sandy-navbar .navbar-nav > li > a:after { content: 'I'; display: inline-block; vertical-align: middle; padding:0px 10px; }
.sandy-navbar .navbar-nav > li.log-out > a:after { content: '';  }
.sidebar[data-color="purple"]:after { display: none; }
.sidebar:before { background-color: #2c3a43;opacity: 1;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5bc86d+2,42d0ed+100 */
background: rgb(91,200,109); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(91,200,109,1) 2%, rgba(66,208,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(91,200,109,1) 2%,rgba(66,208,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(91,200,109,1) 2%,rgba(66,208,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc86d', endColorstr='#42d0ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }
.navbar-default { background-color: #fff; border-bottom:1px solid rgba(155, 170, 179, 0.2); }
.main-panel { background-color: #f8f9fb; }
.sidebar .nav li { text-align: center; }
.sidebar .nav li > a {margin: 10px 15px;text-align: left;font-weight: 700;opacity: 1;text-transform: uppercase;font-size: 13px;position: relative;padding-left: 55px; background-repeat:no-repeat; background-position: 30px 12px;}
.sidebar .nav li.active > a { background-color: #fff; color: #5bc86d; background-repeat: no-repeat; background-position: 30px 12px; }
.sidebar .nav li > a:hover, .sidebar .nav li > a:focus, .sidebar .nav li > a:active { background-color: #5bc86d; background-repeat: no-repeat;background-position: 30px 12px; }
.sidebar .nav li:nth-child(1) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(2) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(3) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(4) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(5) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(6) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(7) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(8) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(6) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(7) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(8) > a { background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(9) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(10) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(11) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(12) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(13) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.sidebar .nav li:nth-child(14) > a {background-image: url('https://www.pass4job.com/img/book.png');}
.navbar-default .navbar-nav > li > a:not(.btn) { color: #9baab3; }
.navbar>.container-fluid .navbar-brand { margin-left: 0px; }
.form-control::-webkit-input-placeholder { color: #9baab3 !important;  }
.form-control::-moz-placeholder {  color: #9baab3 !important;  }
.form-control:-ms-input-placeholder {  color: #9baab3 !important;  }
.form-control:-moz-placeholder { color: #9baab3 !important;  }
span.update-t { color: #3d4a52; font-weight: 800; font-size: 20px; padding: 20px 0px 15px 0px; display: block; }
span.update-t + p { margin-bottom: 15px; }
.table-hover>tbody>tr:hover { background-color:#f8f9fb; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border-top:1px solid rgba(155, 170, 179, 0.2); }
.table>thead>tr>th { border-bottom:1px solid rgba(155, 170, 179, 0.2); }
.table>tbody>tr>td { color:#9baab3; font-weight:600; }